<p>Crie um componente chamado ContadorComponent que exiba um valor numérico e dois botões: "Incrementar" e "Decrementar". O valor inicial do contador deve ser passado pelo componente pai usando Input. Quando os botões forem clicados, o componente deve emitir eventos através de Output para notificar o componente pai sobre as alterações no valor do contador.</p>

<br>

<button (click)="onIncrement()">Incrementar</button>
<button (click)="onDecrement()">Decrementar</button>

<br>

<p>Valor: {{ initialValue }}</p>