<h3>Input/Output Challenges</h3>

<app-contador
  [initialValue]="initialValue"
  (newValue)="onValueEmitted($event)"
></app-contador>

<br />

<app-lista-tarefas
  [listaTarefas]="listaTarefas"
  (tarefaConcluida)="onTarefaConcluida($event)"
></app-lista-tarefas>

<br> 

<app-formulario-usuario [dadosForm]="dadosForm" (newForm)="onNewForm($event)"></app-formulario-usuario>

<br>

<app-selecao-produto [listaProdutos]="listaProdutos" (produtoId)="onProdutoSelecionado($event)"></app-selecao-produto>

<br>

<app-filtro-pesquisa (filtragem)="onPesquisaFiltrada($event)" [filtroPesquisa]="filtroPesquisa"></app-filtro-pesquisa>